.a{
    background-color: black;
    padding: 20px;
    width: 600px;
    position: relative;
}
input{
   width: 99%;
   padding: 20px;
   border-radius: 20px;
   border: 0;
   padding-left: 40px;
}
.b{
   position: absolute;
   top: 40px;
   left: 35px;
}
.c{
    position: absolute;
    top: 20px;
    right: 100px;
}
.d{
    position: absolute;
    top: 20px;
    right: 50px;
}